body {
    background-color:#ffffff;
    font-size:100%;
    font-family:"San Francisco UI Text","Helvetica Neue",sans-serif;
    background-image:url("landing_splash.jpeg");
    background-repeat:no-repeat;
    background-position: right top;
    background-size:67%;
}

h1 {
    color:#000033;
    font-size:5em;
    font-weight:100;
    letter-spacing:10px;
}

p {
    color:#000033;
    font-size:1em;
    font-weight:200;
}

div.leftPane {
	float:left;
	z-index:3;
	line-height:480%;
	margin-top:19%;
}

div.bottomPane {
	float:right;
	z-index:2;
	margin-top:63%;
}